<ul class="vMenu">
	<li><a href="/liveTextScreen" <% if(page === "liveTextScreen"){ %>class="vMenu--active"<%}%> >Live text</a></li>
	<li><a href="/airSofiaScreen" <% if(page === "airSofiaScreen"){ %>class="vMenu--active"<%}%> >Air Sofia</a></li>
	<li><a href="/greenTicketScreen" <% if(page === "greenTicketScreen"){ %>class="vMenu--active"<%}%> >tet Green ticket</a></li>
	<!-- <li><a href="/elements" <% if(page === "elements"){ %>class="vMenu--active"<%}%> >Elements</a></li>
	<li><a href="/utilities" <% if(page === "utilities"){ %>class="vMenu--active"<%}%> >Utilities</a></li>
	<li><a href="/additional" <% if(page === "additional"){ %>class="vMenu--active"<%}%> >Additional</a></li> -->
</ul>