<ul class="vMenu">
	<li><a href="/liveTextPrivacy" <% if(page === "liveTextPrivacy"){ %>class="vMenu--active"<%}%> >Live text</a></li>
	<li><a href="/airSofiaPrivacy" <% if(page === "airSofiaPrivacy"){ %>class="vMenu--active"<%}%> >Air Sofia</a></li>
	<li><a href="/greenTicketPrivacy" <% if(page === "greenTicketPrivacy"){ %>class="vMenu--active"<%}%> >Green ticket</a></li>
	<!-- <li><a href="/elements" <% if(page === "elements"){ %>class="vMenu--active"<%}%> >Elements</a></li>
	<li><a href="/utilities" <% if(page === "utilities"){ %>class="vMenu--active"<%}%> >Utilities</a></li>
	<li><a href="/additional" <% if(page === "additional"){ %>class="vMenu--active"<%}%> >Additional</a></li> -->
</ul>