<div class="footer footer--dark">
		<div class="container">
			<div class="footer__inner">
				<a href='/' class="footer__textLogo">Contacts</a>
				<div class="footer__data">
					<div class="footer__data__item">
						<!-- <div class="footer__row">
							Created by <a href="https://twitter.com/ninalimpi" target="_blank" class="footer__link">Katerina Limpitsouni</a>
						</div>
						<div class="footer__row">
						Code/design by <a href="https://twitter.com/anges244" target="_blank" class="footer__link">Aggelos Gesoulis</a>
						</div> -->
					</div>
					<div class="footer__data__item">
						<!-- <div class="footer__row">Created for <a href="https://undraw.co" target="_blank" class="footer__link" onclick="trackOutboundLink('https://undraw.co','Redirect','unDraw')">unDraw</a>
						</div> -->
					</div>
					<div class="footer__data__item">
					<!-- <div class="footer__row">
						<a href="https://github.com/anges244/evie" target="_blank" class="footer__link">App store</a>
					</div> -->
					<div class="footer__row">
						<a href="mailto:stemosoft@gmail.com" target="_blank" class="footer__link">stemosoft@gmail.com</a>
					</div>
					<div class="footer__row">
						<a href="https://play.google.com/store/search?q=stemosoft&c=apps" target="_blank" class="footer__link">Google Play</a>
					</div>
					<div class="footer__row">
						<a href="https://www.facebook.com/stemosoft/" target="_blank" class="footer__link">Facebook</a>
					</div>
					
					<!-- <div class="footer__row">
						<a href="/additional" class="footer__link">MIT license</a>
					</div> -->
				</div>
			</div>
		</div>
	</div>