<div class="footer footer--dark">
		<div class="container footer__inner">
			<div class="footer__data">
				<p class="footer__data__item">
					&copy; 2020 stemosoft. All rights reserved.
				</p>
				<p class="footer__data__item">
					<a href="mailto:stemosoft@gmail.com" target="_blank" class="footer__link">stemosoft@gmail.com</a> |
					<a href="https://play.google.com/store/search?q=stemosoft&c=apps" target="_blank" class="footer__link">Google Play</a> |
					<a href="https://www.facebook.com/stemosoft/" target="_blank" class="footer__link">Facebook</a> 
				</p>
			</div>
		</div>
	</div>