<!DOCTYPE html>
<html lang='en'>

<head>
	<meta class="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>
		Stemosoft | EndorseMe</title>
	<%_ currentPage = "/docs" _%>
	<% include ../partials/metadata %>
	<link rel="icon" src="./images/endorseMe/icon.png">
	<link rel='stylesheet' href='<%= asset("css/style.min.css") %>' />
</head>

<body>
	<!-- <% include ../partials/nav %> -->
	<div class="page__header_o">
		<div class="container">
			<div class="page__header__content_o">
				<div id="stemosoftHeader">
					<a href='index.html' class="navbar__logo">stemosoft</a>
				</div>
				<div class="page__header__content__inner_o" id='navConverter'>
					<h1 class="page__header__title_o">
						<img id="small-image-border" src="./images/endorseMe/icon.png" class="expanded__image">
						EndorseMe</h1>
				</div>
			</div>
		</div>
	</div>
	<div id="navBarMenu" class="page">
		<div class="side-nav-menu-wrap container">
			<div class="side-nav-menu">
				<ul class="vMenu">
					<li class="nav-menu-item"><a href="#app-info">What is EndorseMe&trade;</a></li>
					<li class="nav-menu-item"><a href="#details">Details</a></li>
					<li class="nav-menu-item"><a href="#privacy-policy">Privacy policy</a></li>
				</ul>
			</div>
			<div class="page__inner">
				<!-- <div id="border_divider"></div> -->

				<div class="page__main_o">
					<div class="container">
						<div class="text_container_o text_container_o--center">
							<div class="step__media">
							</div>
							<h1 class="description-header" id="app-info">What is EndorseMe&trade;?</h1>
							<div>
								Endorse Me is perfect for content creators who want to work with advertisers. In one place, you can list links, followers/subscribers and your price per post, video or tweet. It's easy to develop ad campaigns with content creators when advertisers can connect with them and view their profiles.
							</div>
							<h1 class="description-header" id="details">Details</h1>
							<div>
								<div class="expanded landing__section">
									<div class="container">
										<div class="expanded__inner">
											<div class="expanded__media">
												<img src="./images/endorseMe/screen1.jpg" class="expanded__image">
											</div>
											<div class="expanded__content">
												<h2 class="expanded__title">Looking for advertisment?</h2>
												<p class="expanded__text">Find content creators to promote your bussiness</p>
											</div>
										</div>
									</div>
								</div>
								<div class="expanded landing__section">
									<div class="container">
										<div class="expanded__inner">
											<div class="expanded__media">
												<img src="./images/endorseMe/screen2.jpg" class="expanded__image">
											</div>
											<div class="expanded__content">
												<h2 class="expanded__title">Looking to advertise?</h2>
												<p class="expanded__text">You're content creator with large social media audience? Build your profile. Link your social media accounts where you can advertise.</p>
											</div>
										</div>
									</div>
								</div>
								<div class="expanded landing__section">
									<div class="container">
										<div class="expanded__inner">
											<div class="expanded__media">
												<img src="./images/endorseMe/screen3.jpg" class="expanded__image">
											</div>
											<div class="expanded__content">
												<h2 class="expanded__title">Connect directly to your contacts</h2>
												<p class="expanded__text">With build-in chat system you can connect with your advertiser.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<h1 class="description-header" id="privacy-policy">Privacy policy</h1>
							<div>
								<strong>Privacy Policy</strong>
								<p>
									Welcome to EndorseMe, a service provided by stemosoft. By using our service, you agree to be bound by the
									following terms and conditions.
								</p>
								<li>
									Responsibility for Accounts: EndorseMe and stemosoft have no responsibility for fake accounts on the
									platform. If you encounter a fake account, please report it to us and we will take immediate action.
								  </li>
								  <li>
									Prohibited Content: Adult content, including links and images, is not allowed on the platform.
									Additionally, we do not permit the public sharing of real-world, graphic violence.
								  </li>
								  <li>
									Jurisdiction: EndorseMe and stemosoft are based in Sofia, Bulgaria and this agreement shall be governed
									by the laws of the European Union.
								  </li>
								  <li>
									Chat moderation: EndorseMe does not include chat moderation. Users are solely responsible for the
									content they post and are expected to follow the terms of service.
								  </li>
								  <li>
									Age: By registering for our service, you confirm that you are 18 years or older.
								  </li>
								  <li>
									Reporting users: EndorseMe currently does not include the ability to report users or user-generated
									content directly. If you encounter any actions that do not fit this terms of conditions, please report
									it by contacting us directly via email at stemosoft@gmail.com
								  </li>
								  <li>
									Changes to the terms of service: We reserve the right to modify these terms of service at any time. Your
									continued use of the service following any changes indicates your acceptance of the new terms.
								  </li>
								  <li>
									Termination: We reserve the right to terminate your use of the service at any time and for any reason,
									without notice.
								  </li>
								<p><strong>Changes to This Privacy Policy</strong></p>
								<p>
									We may update this Privacy Policy from time to time. If we make any material changes, we will provide
									notice through the service or by other means, such as email.
								</p>
								<p>This policy is effective as of 2023-01-04</p>
								<p>
									By using EndorseMe, you agree to be bound by this Privacy Policy and the terms of service.
									EndorseMe and stemosoft are based in Sofia, Bulgaria and this agreement shall be governed by the laws of
									the European Union, including the General Data Protection Regulation (GDPR).
								</p>
								<p><strong>Contact Us</strong></p>
								<p>
									If you have any questions or concerns about this Privacy Policy or our data practices, please contact us
									at stemosoft@gmail.com
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<% include ../partials/footer %>
		<script src='<%= asset("js/app.min.js") %>'></script>
		<% include ../partials/analytics %>
</body>

</html>