.landing__section {
	padding: 3.7rem 0;
}

.landing__section--offsettop {
	margin: -8vh 0 0 0;
	padding: 0;
	position: relative;
	z-index: 100;
}

.landing__section:nth-child(odd) {
	background-color: transparent;
	border-top: none;
	border-bottom: none;
}
