
.page__header_o {
	color: $hero-color;
	box-shadow:0 1px 5px rgba(124, 146, 169, 0.5);
	width: 100%;
}

.page__header__content_o{
	display: flex;
	flex-direction: column;
	@include desktop {
		flex-direction: row;
	}
}

.page__header__content__inner_o {
	// @include desktop 
	text-align: center;
	width: 100%;
}

.page__header__title_o{
	color: inherit;
}
.page__menu_o{
	width: 100%;
	position: fixed;
    margin-top: 2%;
    right: 74%;

    @include desktop{
		display: block;
		width: 300px;
		flex-shrink: 0;
	}
}
.page__main_o{
    flex-grow: 1;
	margin-bottom: 3%;
}
.text_container_o{
	// max-width: $text-container;
	margin: 0;
	max-width: 900px;
	
	@include desktop{
		margin-left: 16%;
		margin-right: auto;
	}
}
#border_divider{
width: 1px;
position: relative;
left: 7%;
box-shadow: 0 1px 5px rgba(124, 146, 169, 0.5);
}
.description-header{
    margin-top: 3%;
}
#small-image{
    width: 20px;
margin-right: 3pt;
padding-bottom: 1pt;
}
#pre-content{
    white-space: pre-line;
}
#stemosoftHeader{
	text-align: center;
	padding: 1em 0 0 0;
}

.side-nav-menu-wrap {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	@include desktop {
		flex-direction: row;
	}

	.side-nav-menu {
		@include tablet {
			padding-right: 2em;
		}
	}

	.vMenu {
		@include desktop {
			position: fixed;
		}
	}
}