
.page__header_o{
	position:relative;
	color: $hero-color;
	box-shadow:0 1px 5px rgba(124, 146, 169, 0.5);
	width: 100%;
	display: inline-flex;
}

.page__header__content_o{
	display: flex;
	width: 90%;
	align-items: center;
	justify-content: center;
	padding:10pt 0 0 0;
	overflow: auto;
	// This div allows normal behaviors for contained elements instead of flexbox aligning them 
	&__inner{
		width: 100%;
		max-width: 66ch;
		text-align: center;
	}
}

.page__header__title_o{
	color: inherit;
}
.page__menu_o{
	width: 100%;
	position: fixed;
    margin-top: 2%;
    right: 74%;

    @include desktop{
		display: block;
		width: 300px;
		flex-shrink: 0;
	}
}
.page__main_o{
    flex-grow: 1;
    margin-bottom: 3%;
}
.text_container_o{
	// max-width: $text-container;
	max-width: 900px;
	
	&--center{
		margin-left: 16%;
		margin-right: auto;
	}
}
#border_divider{
width: 1px;
position: relative;
left: 13%;
box-shadow: 0 1px 5px rgba(124, 146, 169, 0.5);
}
.description-header{
    margin-top: 3%;
}
#small-image{
    width: 20px;
margin-right: 3pt;
padding-bottom: 1pt;
}
#privacy-policy-content{
    white-space: pre-line;
}
#stemosoftHeader{
	width: 33px;
		height: 13px;
		margin-top: 31px;
		display: inline-block;
		padding-left: 69px;
}