.steps{
	text-align: left;

	@include desktop {
		text-align: center;
	}
}

.steps__inner{
	@include desktop {
		align-content: stretch;
		display: flex;
		justify-content: space-between;
	}
}

.steps__inner--background {
	background-color: #fffffe;
	border-top-left-radius: $radius;
	border-top-right-radius: $radius;
}

.step{
	align-items: flex-start;
	align-content: space-between;
	display: flex;
	padding: 16px 0;
	text-align: left;
	justify-content: space-between;
	width: 100%;

	@include desktop {
		justify-content: flex-start;
		flex-direction: column;
		text-align: left;
	}
}

.step__detail {
	padding: 16px;
	@include desktop {
		display: flex;	
		flex-direction: column;
		padding-bottom: 0;
	}
}

.step__download {
	align-items: flex-start;
	align-content: space-between;
	display: flex;
	justify-content: flex-start;
	margin-bottom: 64px;
	width: 100%;
	* {
		margin-right: 1em;
	}
}

.step__media{
	margin: 16px 16px 0 16px;

	@include desktop{
		// margin: 32pt 0;
		text-align: center;
		// align-self: center;
	}
}

.step__image{
	max-height: 90px;
	max-width: 90px;
	margin-top: 16pt;
	@include noDragging;

	@include tablet{
		max-width:none;
	}
}

.step__title{
	font-weight: bold;
	font-size: 26px;
	margin: 0 0 0 16px;
	color: $text-dark;
	text-align: left;
	// text-transform: lowercase;

	@include desktop {
		align-self: flex-start;
	}
}

.step__subtitle{
	color: $text;
	font-size: 21px;
	font-weight: bold;
	margin-bottom: 16px;
}

.step__text{
	// max-width: 36ch;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}

.step__link{
	color: $primary;
	text-decoration: underline;
	
	&:hover {
		color: darken($primary,20%);
		font-weight: bold;
	}
}